.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.backgroundPicture {
  background-image: url(https://data.whicdn.com/images/276427256/original.gif);
  background-size: cover;
  height: 50em;
}

.space {
  padding: 1em;
}

.titlestrip {
  background-color:#424949 ;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  color: white;

}

.card-img-top {
  height: 150px;
  padding-top: 10px;
  padding-bottom: 20px;
}
​
.card-deck {
  text-align: center;
  width: auto;
  width: 95%;
}

.card-deck {
  padding-top: 5em;
}

.cardheaderyellow {
  background-color: #F5ED9C;
  padding: .5em;
}

.cardheaderred {
  background-color: #FFAEAB;
  padding: .5em;
}

.cardheaderblue {
  background-color: #6DE3F4;
  padding: .5em;
}





